<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/navbar.ejs") %>

    <div class="container">

        <h1>Perguntas</h1>
        <a href="/fazerPergunta" class="btn btn-success px-5">Perguntar</a>
        <hr>

        <% perguntas.forEach((p)=> { %> 
            <div class="card m-4">
                <div class="card-body">
                    <h4><%= p.title %></h4>
                </div>

                <div class="card-footer">
                    <a class="btn btn-success" href="/fazerPergunta/<%= p.id %>">Responder</a>
                </div>
            </div>
        <% }) %>
    </div>

    
    <%- include ("partials/footer.ejs") %>
</body>
</html>