<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/navbar.ejs") %>

    <div class="container">

        <h1>Perguntas</h1>
        <a href="/fazerPergunta" class="btn btn-success px-5">Perguntar</a>
        <hr>

        <% perguntas.forEach((p)=> { %> 
            <div class="card m-4">
                <div class="card-body">
                    <h5 style="font-weight: bold;"><%= p.title %></h5>
                </div>

                <div class="card-footer" style="display: flex; flex-direction: column; align-items: end;"> 
                    <p><%= p.numComentarios %> comentarios</p>
                    <a class="btn btn-success" style="width: 100%;" href="/fazerPergunta/<%= p._id %>">Ver Pergunta</a>
                </div>
            </div>
        <% }) %>
    </div>

    
    <%- include ("partials/footer.ejs") %>
</body>
</html>