<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/navbar.ejs"); %>
    
    <div class="container">
        <h3><%= pergunta.title %></h3>
        <p><%= pergunta.descrition %></p>
        <hr>
    </div>

    <%- include ("partials/footer.ejs"); %>
</body>
</html>