<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/navbar.ejs"); %>
    
    <div class="container">
        <h3><%= pergunta.title %></h3>
        <p><%= pergunta.descrition %></p>
        <hr>

        <h5>Responda</h5>
        <form action="/resposta" method="post">
            <textarea name="resposta" id="idResposta" class="form-control mb-3" placeholder="Digite sua resposta!"></textarea>
            <input type="hidden" name="inputIDPergunta" value=`<%= pergunta.id %>`>
            <button type="submit" class="btn btn-success">Responder</button>
        </form>
    </div>

    <%- include ("partials/footer.ejs"); %>
</body>
</html>